.cluster-control {
    display: inline-block;
    
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #526e77;
    cursor: default;
    margin-right: 1px;
}
.cluster-control .icn {
    margin-right: 4px;
}
.cluster-control > a, 
.cluster-control > a:hover {
    text-decoration: none;
    color: #526e77;
    cursor: default;
}

.cluster-control:hover {
    background-color: #f4f8fb;
}