.instruments-button {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    cursor: default;
    color: #526e77;
    border-radius: 3px;
    /* background-color: #ecf1f3; */
    /* background-color: #dfe8ef; */
    /* margin-right: 3px; */
}
.instruments-button:hover {
    /* background-color: #0984e3; */
    /* background-color: #dfe8ef; */
    /* background-color: #58a6e0; */
    background-color: #ecf4f7;
    /* color: #fff; */
    /* color: #fff; */
}

.instruments-button.disabled {
    background-color: unset;
    color: unset;
    opacity: .7;
}
.instruments-button.hidden {
    display: none;
}

.instruments-button .label {
    font-weight: 600;
}
.instruments-button .icn {
    margin-right: 5px;
}