.Sidebar {
    position: fixed;
    width: 50px;
    height: 100%;
    /* background-color: #0984e3; */
    background-color: #454F5E;
    top: 0;
    left: 0;
    z-index: 20;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Sidebar .labels-layer {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 50px;
    /* background-color: #454F5E; */
    background-color: #5c6879;
    z-index: -1;
    display: none;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    overflow: hidden;
    /* background-color: #6a7e9a; */
}
.Sidebar .labels-layer .logo-label {
    line-height: 55px;
    font-weight: 700;
    /* font-size: 16px; */
    cursor: default;
    position: relative;
}
.Sidebar .labels-layer .link-label {
    line-height: 50px;
    /* font-size: 16px; */
    font-weight: 600;
    cursor: default;
    position: relative;
}
.Sidebar .profile-link {
    position: relative;
}
.Sidebar .profile-link .logout {
    position: absolute;
    right: 5px;
    top: 5px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 3px;
}
.Sidebar .profile-link .logout:hover {
    background-color: #ff7675;
    color: #fff;
}

.Sidebar .logo-label.lbl, 
.Sidebar .link-label.lbl {
    display: block;
    /* line-height: normal; */
    /* background-color: #fff; */
    padding: 0 12px;
    /* border-radius: 2px; */
    /* margin-left: 7px; */
    /* box-shadow: 0 0 3px #bcccd6; */
    -webkit-animation-duration: .2s;
    animation-duration: .2s;

    /* background-color: #6a7e9a; */
    color: #fff;
}
.Sidebar .labels-layer .lbl:hover, 
.Sidebar .labels-layer .lbl.active {
    text-decoration: none;
    background-color: #525e6f;
}
.Sidebar .labels-layer .lbl.no-hover, .Sidebar .navbar-button.no-hover {
    background-color: inherit;
}
/* .Sidebar .labels-layer .logo-name {
    line-height: 55px;
    color: #a6d9ff;
    font-weight: 700;
    font-size: 16px;
    cursor: default;
    position: relative;
}
.Sidebar .labels-layer .logo-name:after {
    position: absolute;
    content: "";

    bottom: 0;
    left: -40px;
    width: 125px;
    height: 1px;
    background-color: #567d9e;
}
.Sidebar .labels-layer .logo-name span {
    color: #567d9e;
} */


.Sidebar:hover .labels-layer {
    display: block;
}
.Sidebar.busy .labels-layer, .Sidebar.busy:hover .labels-layer {
    display: none;
}

.Sidebar .maintenance-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 79, 94, 0.7);
}

.Sidebar .logo {
    /* height: 50px; */
    line-height: 55px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    cursor: default;
    /* color: #72c2ff; */
    color: #4fd48a;
}

.App.color-scheme-0 .Sidebar .logo {
    color: #3fdad6;
}
.App.color-scheme-1 .Sidebar .logo {
    color: #72c2ff;
}

.Sidebar .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Sidebar .spinner {
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    cursor: default;
    color: #3edad6;
    /* color: #5ab8ff; */
    display: none;
    transition: color .6s ease-in-out;
}
.Sidebar.background .spinner {
    display: block;
}
.Sidebar.background.error .spinner {
    color: #f7856b;
}

/* 
.Sidebar .logo:hover {
    background-color: #00cec9;
    color: #454F5E;
} */